<module name="org.keycloak.keycloak-idp-hashedId-mapper" xmlns="urn:jboss:module:1.3">

    <resources>
        <resource-root path="keycloak-idp-hashedId-mapper.jar"/>
    </resources>

    <dependencies>
        <module name="org.keycloak.keycloak-server-spi" services="import"/>
        <module name="org.keycloak.keycloak-server-spi-private" services="import"/>
        <module name="org.keycloak.keycloak-saml-core-public" services="import"/>
        <module name="org.keycloak.keycloak-services" services="import"/>
    </dependencies>
</module>